a {
  color: black;
  font-weight: bold;
  text-decoration: none;
}

a:hover,
a:focus {
  text-decoration: none;
}

p,
li {
  background: linear-gradient(to left, #8c8c8c, #000);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

body {
  background: linear-gradient(to top, #a9a9a9, #fff);
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

img {
  height: 2.6em;
  width: auto;
  padding: 0.5em;
}

div {
  text-align: center;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  margin: 0.5rem 0;
}
